<!DOCTYPE html>
<head>
  <title>OmniDB</title>

</head>
<body>

    <header>

        <div class="custom">
    	      <div id="gh-ribbon"><a href="https://github.com/OmniDB/OmniDB"><img src="/images/headers/gh-adapted.png" alt="Fork me on GitHub"></a>
            </div>
        </div>

        <div class="border-top"></div>
    		<div id="header1">
    			<div class="container">
    				<div class="row">
    					<div class="col-12">
    						<nav class="pull-right">
                  <div class="mod-languages">

    	              <ul class="lang-inline">
    				            <li class="lang-active" dir="ltr">
                           <a href="/en/">
                             <img src="/media/mod_languages/images/en_gb.gif" alt="English (UK)" title="English (UK)">
                           </a>
    	                  </li>
                    </ul>

                  </div>

    						</nav>
    					</div>
    				</div>
    			</div>
    		</div>
    		<div id="header2">
    			<div class="container">
    				<div class="row">
    					<div id="logo" class="col-3">


                <div class="custom">
    	             <div>
                     <a id="brand-link" title="OmniDB Brand" href="/index.php"><img src="/images/headers/omnidb.png" alt="OmniDB"></a>
                   </div>
                </div>

    					</div>
    					<div class="col-9 pull-right">
    						<nav class="pull-right">


                  <div class="custom">
    	              <div class="main-menu-toggler"><button type="menu-toggler">&nbsp;</button></div>
                    <div class="menu-mask">&nbsp;</div>
                  </div>


                  <div id="horizmenu-surround">
                    <ul class="menutop level1">
                      <li class="item148 active root">
                            <a class="item active item-active" href="/en/">
                                <span>Overview</span>
                            </a>
                      </li>
                      <li class="item149 root">
                            <a class="item" href="/en/downloads-en">
                                <span>Downloads</span>
                            </a>
                      </li>
                      <li class="item150 parent root">
                            <a class="item" href="/en/documentation-en">
                                <span>Documentation</span>
                            </a>
                      </li>
                      <li class="item161 root">
                            <a class="item" href="https://github.com/OmniDB/OmniDB/issues">
                                <span>Community</span>
                            </a>
                      </li>
                      <li class="item190 root">
                            <a class="item" href="/en/sponsors-en">
                                <span>Sponsors</span>
                            </a>
                        </li>
                      </ul>
                  </div>


    						</nav>
    					</div>
    				</div>
    			</div>
    		</div>

    </header>

    <h1>Boraaa...</h1>

    {% for ct_section in data.content_sections %}

      {% if ct_section.id %}

          <section id="{{ ct_section.id }}">

      {% else %}

          <section>

      {% endif %}

              {% if ct_section.wrap_type %}
                  <div class="{{ ct_section.wrap_type }}">
              {% else %}
                  <div class="container">
              {% endif %}

                      {{ ct_section.content | safe }}

                  </div>

          </section>

    {% endfor %}

    <script type="text/javascript">
    </script>

</body>
</html>
